.main{
    background-color:#FFFFFF;
    font-family: 'Roboto';
    color: #434455;
    font-family:"Roboto", sans-serif
}
.logo { width: 71px;
height: 21px;

font-family: "Raleway", sans-serif;
line-height: 1.17;
color:#4d5ae5;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 21px;
/* identical to box height, or 117% */

display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;

/* NAVY BLUE */

color: #2E2F42;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;   
}
.achivement{
    width: 264px;
height: 72px;

/* Body */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */

letter-spacing: 0.02em;

/* SLATE */

color: #434455;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.head{
    line-height: 1.17
    width: 48px;
height: 24px;

/* Body Medium */

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

letter-spacing: 0.02em;

/* NAVY BLUE */

color: #2E2F42;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.products{
    box-sizing: border-box;

width: 360px;
height: 300px;

background: url(2368.jpg);
/* CORNFLOWER */

border: 1px solid #E7E9FC;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.employee{  
}
.whom{
    width: 134px;
height: 24px;

/* Header 3 */

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */

text-align: center;
letter-spacing: 0.02em;

/* NAVY BLUE */

color: #2E2F42;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.position{
    width: 128px;
height: 24px;

/* Body */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

text-align: center;
letter-spacing: 0.02em;

/* SLATE */

color: #434455;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.conclusion{
    position: absolute;
width: 264px;
height: 72px;
left: 156px;
top: 2420px;

/* Body */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */

letter-spacing: 0.02em;

/* CLOUD */

color: #F4F4FD;
}