@font-face{
    font-family: "Raleway";
    font-family: "Roboto"
}
.names{
    width: 172px;
height: 24px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;

letter-spacing: 0.02em;

color: #2E2F42;

flex: none;
order: 0;
flex-grow: 0;
}

.task{
    width: 30px;
height: 24px;

/* Body */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

letter-spacing: 0.02em;

/* SLATE */

color: #434455;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.link{
    width: 68px;
height: 24px;

/* Button Text */

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;

/* IRIS */

color: #4D5AE5;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.conclution{
    position: absolute;
width: 264px;
height: 72px;
left: 156px;
top: 1904px;

/* Body */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */

letter-spacing: 0.02em;

/* CLOUD */

color: #F4F4FD;
}