/* скидання установок браузера */
.list{
    list-style: none;
}
.link{
    text-decoration: none;
}
/* portfolio */
*body{
    font-family: "Roboto",sans-serif;
    color: #434455 ;
  
}

.section-buttons{
    background-color:#2e2f42;  
}
.section-button:hover{
    color: #FFFFFF;
    background-color: #404BBF;
}
.section-button:focus{
    color: #FFFFFF;
    background-color: #404BBF;
}
 .logo { 
    width: 44px;
    height: 21px;
    
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
   }
.menu{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.web_name{
    color:#2e2f42;
}
.connection{
    font-style: normal;
    color: #434455;
}
.names{
  font-family: 'Roboto',sans-serif;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.02em;
color: #2e2f42;
}
.task{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.nav-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#2e2f42;
    text-decoration: none;
}
.nav-link:hover{
    color: #404bbf;
}
.nav-link:focus{
    color: #404bbf;
}
.list-information{
    color: #434455;
}
/* .list-information:hover,
.link:hover{
    color: #404bbf;
} */
.list-information :focus{
    color: #404bbf;
}
.btn{
    font-family: "Roboto", sans-serif;
       font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;

}
.conclution{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #F4F4FD;
}
.footer-portfolio{
    background-color:#2e2f42;
}





/* index */
:root{

}
.main{
    background-color:#FFFFFF;
    color: #434455;
    font-family:"Roboto", sans-serif;
}
.logo { width: 71px;
height: 21px;

font-family: "Raleway", sans-serif;
line-height: 1.17;
color:#4d5ae5;
font-style: normal;
font-weight: 800;
font-size: 18px;
}
/* .web_name{
    width: 71px;
    height: 21px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
      
    color: #2E2F42;
  
} */
.information{
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:#2e2f42;
}
.information:hover,
.information:focus{
    color: #404bbf ;
}
/* .list-information-connection{
    color:  #434455;
} */
.connection{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #434455;
}
.main-section{ 
    color: #2e2f42;
background-color: #2e2f42;
}
.main-title{
  
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 1.07 ;
text-align: center;
letter-spacing: 0.02em;
color: #ffffff ;
}
.button{


font-family: 'Roboto',sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.04em;
color: #ffffff ;
background-color: #4D5AE5;
cursor: pointer;
}
.button:focus{
    background-color: #404BBF;
}
.button:hover{
    background-color: #404BBF;
}
.achivement{

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;

color: #434455;

}
.features{
    width: 264px;
height: 24px;

/* Header 3 */

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */

letter-spacing: 0.02em;

/* NAVY BLUE */

color: #2E2F42;

}
.descuption{
    width: 264px;
height: 72px;

/* Body */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */

letter-spacing: 0.02em;

/* SLATE */

color: #434455;

}
.products{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 40px;
/* identical to box height, or 111% */

text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;

/* NAVY BLUE */

color: #2E2F42;
line-height: 1.11
}
.photo{
    background-color: #FFFFFF ;
}
.employee{ 
    position: absolute;
width: 1440px;
height: 732px;
left: 0px;
top: 1548px;

/* CLOUD */

background: #F4F4FD; 
}
.whom{
    width: 134px;
height: 24px;

/* Header 3 */

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */

text-align: center;
letter-spacing: 0.02em;

/* NAVY BLUE */

color: #2E2F42;

}
.position{
    width: 128px;
height: 24px;

/* Body */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

text-align: center;
letter-spacing: 0.02em;

/* SLATE */

color: #434455;
}
.footer{
    background-color:#2e2f42 ; 
}
.web-name-footer{
    color: #f4f4fd ;
}
.conclusion{
    position: absolute;
width: 264px;
height: 72px;
left: 156px;
top: 2420px;

/* Body */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */

letter-spacing: 0.02em;

/* CLOUD */

color: #F4F4FD;
}